/****** footer ******/

.footer{
    margin-top: 0;
    padding-bottom:0.5rem ;
    background-color: #353535;
    .footer__logo-title{
        font-family: $logo-title;
        font-size: 24px;
        color: white;
        padding-top: 1rem;
        margin-left: 30px;
        margin-bottom: 0px;
    }
    li{
        padding-bottom: 10px;
    }
    .footer__liste{
        font-size: 18px;
        list-style-type: none;
        margin-left: -10px;
        margin-bottom: 1rem;
        .footer__liste__lien{
            color: white;
            .fa-utensils{
                margin-right: 16px;
            }
            .fa-handshake-angle{
                margin-right: 10px;
            }
        }
    }
}

