/****** footer ******/

.footer{
    margin-top: 0;
    padding-bottom:0.5rem ;
    background-color: $footer-background;
    .footer__logo-title{
        font-family: $logo-title;
        font-size: 24px;
        color: $white-color;
        padding-top: 1rem;
        margin-top: 0;
        margin-left: 30px;
        margin-bottom: 0px;
    }
    li{
        padding-bottom: 10px;
    }
    .footer__liste{
        font-size: 18px;
        list-style-type: none;
        margin-left: -10px;
        margin-bottom: 1rem;
        .footer__liste__lien{
            color: $white-color;
            .fa-utensils{
                margin-right: 16px;
            }
            .fa-handshake-angle{
                margin-right: 10px;
            }
        }
    }
}

/******** Media queries ********/

/* Desktop version */
@media (min-width:1024px) {
    footer{
      display: flex;
      flex-direction: row-reverse;
      padding-top: 4rem;
        h4{
            margin-right: 3rem;
            margin-left: 8rem;
        }
        div ul{
            display: flex;
            flex-direction: row;
                li{
                    margin: 5px;
            }
            li:nth-child(2){
                margin-right: 3rem;
            }

        }
    }
}