/****** header ******/

header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: $box-shadow2;
    .header__btn-retour{
        border: none;
        font-size: 26px;
        position: absolute;
        left: 1rem;
    }
    h1{
        font-family: $logo-title;
    }
}
