@charset "UTF-8";
/****** imports ******/
/*** base ***/
/*** mise en page titre de section ***/
/*** etiquettes "nouveau" ***/
/**** couleurs ****/
/**** polices ****/
/**** styles ****/
/**** breakpoints ****/
/******** Animations générales ********/
/**** remplissage coeur ****/
/* Cache le coeur plein par défaut */
.heart-full {
  display: none;
  position: relative;
}

/* Style du coeur plein */
.heart-full::before {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Pointer main cliquable */
.heart-empty, .heart-full {
  cursor: pointer;
  transition: transform 1s ease;
}

/* Affiche le coeur plein au hover */
.heart-label:hover .heart-empty {
  display: none;
}

.heart-label:hover .heart-full {
  display: inline;
}

/******** Animations - pages restaurants ********/
/**** apparition progressive menus ****/
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
/* delay pour chaque section */
.entrees-delay {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 600ms;
}

.plats-delay {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1200ms;
}

.desserts-delay {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1800ms;
}

/***** coche coulissante *****/
.assiette {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: padding-right 0.3s ease;
}
.assiette .assiette-txt {
  flex-grow: 1;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.assiette span {
  font-weight: bold;
  padding-top: 28px;
  padding-right: 10px;
  white-space: nowrap;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}
.assiette h4 {
  font-size: 19px;
  margin-top: 12px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.assiette p {
  margin-top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.assiette::after {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: x-large;
  position: absolute;
  top: 0;
  right: -60px;
  width: 60px;
  height: 100%;
  color: white;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.3s ease;
}
.assiette:hover {
  padding-right: 60px;
}
.assiette:hover span {
  transform: translateX(-5px);
}
.assiette:hover::after {
  right: 0;
}

/***** general *****/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

/* police de caractère pour l'ensemble des textes */
* {
  font-family: "roboto", sans-serif;
}

/* style liens */
a {
  text-decoration: none;
  color: black;
}

/*** components ***/
/***** loader *****/
/* style du loader */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 9999;
  animation: fadeOutLoader 5s forwards;
}
.loader-container .loader {
  display: flex;
  justify-content: space-between;
  width: 80px;
}
.loader-container .loader div {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  animation: grow-shrink 1.5s infinite;
}
.loader-container .loader div:nth-child(1) {
  background-color: #FF79DA;
  animation-delay: 0s;
}
.loader-container .loader div:nth-child(2) {
  background: linear-gradient(90deg, #FF79DA, #9356DC);
  animation-delay: 0.3s;
}
.loader-container .loader div:nth-child(3) {
  background-color: #9356DC;
  animation-delay: 0.6s;
}

/* animation grow */
@keyframes grow-shrink {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
/* transition loader - contenu de la page */
@keyframes fadeOutLoader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/*** mise en forme et effet bouton - explorer/commander  ***/
/*** layout ***/
/****** header ******/
header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
header .header__btn-retour {
  border: none;
  font-size: 26px;
  position: absolute;
  left: 1rem;
}
header h1 {
  font-family: "Shrikhand", sans-serif;
}

/******** Media queries ********/
/* Desktop version */
@media (min-width: 1024px) {
  .header {
    box-shadow: none;
  }
}
/****** footer ******/
.footer {
  margin-top: 0;
  padding-bottom: 0.5rem;
  background-color: #353535;
}
.footer .footer__logo-title {
  font-family: "Shrikhand", sans-serif;
  font-size: 24px;
  color: white;
  padding-top: 1rem;
  margin-top: 0;
  margin-left: 30px;
  margin-bottom: 0px;
}
.footer li {
  padding-bottom: 10px;
}
.footer .footer__liste {
  font-size: 18px;
  list-style-type: none;
  margin-left: -10px;
  margin-bottom: 1rem;
}
.footer .footer__liste .footer__liste__lien {
  color: white;
}
.footer .footer__liste .footer__liste__lien .fa-utensils {
  margin-right: 16px;
}
.footer .footer__liste .footer__liste__lien .fa-handshake-angle {
  margin-right: 10px;
}

/******** Media queries ********/
/* Desktop version */
@media (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 4rem;
  }
  footer h4 {
    margin-right: 3rem;
    padding-left: 4rem;
  }
  footer div ul {
    display: flex;
    flex-direction: row;
  }
  footer div ul li {
    margin: 5px;
  }
  footer div ul li:nth-child(2) {
    margin-right: 3rem;
  }
}
/*** pages ***/
/***** page restaurants *****/
.page-restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.page-restaurant .image-container {
  width: 100%;
  max-height: 300px;
}
.page-restaurant .image-container img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.page-restaurant .page-restaurant-menu {
  display: flex;
  flex-direction: column;
  margin-top: -45px;
  background-color: #F6F6F6;
  width: 100%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.page-restaurant .page-restaurant-menu .restaurant-title {
  width: 100%;
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-restaurant .page-restaurant-menu .restaurant-title .logo-title {
  font-family: "Shrikhand", sans-serif;
  font-size: 27px;
  margin-right: 2rem;
}
.page-restaurant .page-restaurant-menu .restaurant-title i {
  font-size: 2rem;
}
.page-restaurant .menu-plats {
  margin-left: 10px;
  margin-right: 10px;
}
.page-restaurant .menu-plats .menu-plats-title {
  font-weight: 200;
  margin-left: 10px;
  border-bottom: 4px solid #99E2D0;
  width: 48px;
  padding-bottom: 5px;
}
.page-restaurant .menu-plats .assiette {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.page-restaurant .menu-plats .assiette span {
  font-weight: bold;
  padding-top: 24px;
  padding-right: 10px;
  white-space: nowrap;
}
.page-restaurant .menu-plats .assiette h4 {
  font-size: 19px;
  margin-top: 12px;
  margin-bottom: 5px;
}
.page-restaurant .menu-plats .assiette p {
  margin-top: 0;
}
.page-restaurant .btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #F6F6F6;
}
.page-restaurant .btn-container .btn-commander {
  cursor: pointer;
  font-size: 18px;
  border-radius: 30px;
  padding: 16px 35px;
  border: none;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 16px 50px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.page-restaurant .btn-container .btn-commander:hover {
  filter: brightness(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

/* Desktop version */
@media (min-width: 1024px) {
  .image-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  .image-container img {
    width: 100%;
  }
  .page-restaurant-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 75vw;
  }
  .page-restaurant-menu .restaurant-title {
    margin-top: 2rem;
  }
  .page-restaurant-menu .menu-plats {
    width: 60vw;
    max-width: 700px;
  }
  .btn-container {
    max-width: 75vw;
  }
}
/**** section explorer-reservez ****/
.explorer-reservez {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  width: 100%;
}
.explorer-reservez div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.5rem;
  border: none;
  color: #353535;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  background-color: #F6F6F6;
}
.explorer-reservez div i {
  margin-right: 1rem;
}
.explorer-reservez h2 {
  font-size: 27px;
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
}
.explorer-reservez p {
  font-size: 19px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 0rem;
}
.explorer-reservez .btn-explorer {
  cursor: pointer;
  font-size: 18px;
  border-radius: 30px;
  padding: 16px 35px;
  border: none;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 3rem;
}
.explorer-reservez .btn-explorer:hover {
  filter: brightness(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

/******** Media queries ********/
/* Desktop version */
@media (min-width: 1024px) {
  .explorer-reservez div {
    background-color: #EAEAEA;
    box-shadow: none;
  }
}
/**** section fonctionnement ****/
.fonctionnement {
  width: 100%;
}
.fonctionnement h3 {
  margin-left: 1rem;
  font-size: 26px;
  margin-top: 3rem;
  margin-bottom: 0rem;
}
.fonctionnement .fonctionnement-etapes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.fonctionnement .fonctionnement-etapes ul {
  margin-right: 16px;
  padding-left: 21px;
}
.fonctionnement .fonctionnement-etapes ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 73px;
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}
.fonctionnement .fonctionnement-etapes ul li span {
  border-radius: 50%;
  font-size: 17px;
  width: 22px;
  height: 22px;
  color: white;
  background-color: #9356DC;
  position: absolute;
  left: -11px;
}
.fonctionnement .fonctionnement-etapes ul li i {
  padding-right: 1.5rem;
  padding-left: 0rem;
}
.fonctionnement .fonctionnement-etapes ul li .fa-solid {
  font-size: 20px;
}
.fonctionnement .fonctionnement-etapes ul li .fa-mobile-screen-button, .fonctionnement .fonctionnement-etapes ul li .fa-list-ul {
  color: grey;
}
.fonctionnement .fonctionnement-etapes ul li .fa-store {
  color: #9356DC;
}

/******** Media queries ********/
/* Desktop version */
@media (min-width: 1024px) {
  .fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .fonctionnement .fonctionnement-view {
    width: 100%;
    max-width: 1200px;
    padding-left: 6vw;
    padding-right: 6vw;
  }
  .fonctionnement .fonctionnement-view h3 {
    align-self: flex-start;
    margin-bottom: 1rem;
  }
  .fonctionnement .fonctionnement-view .fonctionnement-etapes {
    display: flex;
    justify-content: center;
  }
  .fonctionnement .fonctionnement-view .fonctionnement-etapes ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    /*padding-right: 1rem;*/
  }
  .fonctionnement .fonctionnement-view .fonctionnement-etapes ul li {
    margin-right: 1rem;
    max-width: 320px;
  }
}
/**** section restaurants ****/
.restaurants {
  background-color: #F6F6F6;
  margin-bottom: 0;
}
.restaurants h3 {
  margin-left: 1rem;
  font-size: 26px;
  padding-top: 2rem;
}
.restaurants .restaurants-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.restaurants .restaurants-cards a {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 92vw;
  border-radius: 20px;
  margin-bottom: 3rem;
}
.restaurants .restaurants-cards a .card {
  border-radius: 20px;
  position: relative;
}
.restaurants .restaurants-cards a .card .etiquette {
  background-color: #99E2D0;
  color: #008766;
  font-weight: bold;
  border-radius: 2px;
  padding: 6px;
  position: absolute;
  right: 15px;
  top: 15px;
}
.restaurants .restaurants-cards a .card img {
  width: 100%;
  height: 250px;
  -o-object-fit: fill;
     object-fit: fill;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurants .restaurants-cards a .card .card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurants .restaurants-cards a .card .card-content .card-txt {
  margin-left: 10px;
}
.restaurants .restaurants-cards a .card .card-content .card-txt h4 {
  font-size: 22px;
  margin-top: 6px;
  margin-bottom: 2px;
}
.restaurants .restaurants-cards a .card .card-content .card-txt p {
  font-size: 20px;
  margin-top: 0px;
}
.restaurants .restaurants-cards a .card .card-content i {
  font-size: 30px;
  padding-right: 25px;
}

/******** Media queries ********/
/* Desktop version */
@media (min-width: 1024px) {
  .restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 6vw;
    padding-right: 6vw;
  }
  .restaurants .title-container {
    width: 100%;
    max-width: 1200px;
    text-align: left;
  }
  .restaurants .title-container h3 {
    padding: 0;
    margin-bottom: 0;
  }
  .restaurants .restaurants-cards {
    padding: 1rem 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
  }
  .restaurants .restaurants-cards a {
    max-width: 45%;
    margin: 1rem 0.5rem;
  }
}