/******** Animations générales ********/


/**** remplissage coeur ****/

/* Conteneur du coeur - positionnement */
.heart-label {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 33px;
  margin-top: 15px;
}

/* Style et position coeur plein - coeur vide */
.heart-empty, .heart-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.4s ease, opacity 0.6s ease; /* transition sur transform et opacity */
}

/* Cache le coeur plein par défaut et couleur coeur */
.heart-full {
  opacity: 0;
  transform: scale(0);
  background: linear-gradient($secondary-color, $primary-color);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* code initial */
/* Au hover, cache le coeur vide */
.heart-label:hover .heart-empty {
  opacity: 0;
  transform: scale(0);
}

/* Au hover, affiche le coeur plein */
.heart-label:hover .heart-full {
  opacity: 1;
  transform: scale(1);
}




/******** Animations - pages restaurants ********/


/**** apparition progressive menus ****/

@mixin displayDelay($delay) {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: $delay;
}

@keyframes fadeIn{
  to {
    opacity: 1;
  }
}

/* delay pour chaque section */
.entrees-delay{
  @include displayDelay(600ms)
}

.plats-delay{
  @include displayDelay(1200ms)
}

.desserts-delay{
  @include displayDelay(1800ms)
}




/***** coche coulissante - menus *****/

.assiette {
  @include assiette;
      .assiette-txt {
          flex-grow: 1;
          margin-right: 10px;
          @include cut-txt;
      }
      span {
          font-weight: bold;
          padding-top: 28px;
          padding-right: 10px;
          white-space: nowrap; // Pas de retour a la ligne
          flex-shrink: 0; 
          transition: transform 0.3s ease;
      }
      h4 {
          font-size: 19px;
          margin-top: 12px;
          margin-bottom: 5px;
          @include cut-txt-no-return;
      }
      p {
          margin-top: 0;
          @include cut-txt-no-return;
      }
  
  &::after {
      content: '\f058'; // ajout icone font
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: x-large;
      position: absolute;
      top: 0;
      right: -60px; // Caché au début
      width: 60px;
      height: 100%;
      color: $white-color;
      background-color: $tertiary-color;
      @include flex-center;
      transition: right 0.3s ease;
  }

  
  &:hover {
      padding-right: 60px; // Compense l'ajout de la case
      span {
          transform: translateX(-5px); // Le prix est poussé vers la gauche
      }
      &::after {
          right: 0; // La case glisse vers la gauche
      }
  }
}

