/***** apparition menus - pages restaurants *****/

.entrees-delay{
    opacity:0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 600ms;
}
@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.plats-delay{
    opacity:0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 1200ms;
}
@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.desserts-delay{
    opacity:0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 1800ms;
}
@keyframes fadeIn{
    to{
        opacity: 1;
    }
}



/***** remplissage coeur *****/


/* Cache la case à cocher */
.heart-checkbox {
    display: none;
  }
  
  .heart-full {
    display: none;
    position: relative;
  }
  
  .heart-empty, .heart-full {
    cursor: pointer;
    transition: transform 1s ease;
  }
  
  
  .heart-full::before {
    background: linear-gradient($secondary-color, $primary-color);
    -webkit-background-clip: text; /* Clipper le texte avec le fond - le fond ne deborde pas du coeur */
    background-clip: text;
    color: transparent; /* Cache la couleur d'origine pour afficher uniquement le linear-gradient */
  }
  
  /* Quand la case est cochée, affiche le coeur plein et cache le coeur vide */
  .heart-checkbox:checked ~ .heart-empty {
    display: none;
  }
  
  .heart-checkbox:checked ~ .heart-full {
    display: inline;
  }
