/***** general *****/

body{
    display: flex;
    flex-direction: column;
}

/* police de caractère pour l'ensemble des textes */
*{
    font-family: 'roboto';
}


a{
    text-decoration: none;
    color: black;
}

