/***** general *****/

main{
    @include flex-col-justi-center;
    width: 100%;
}


/* police de caractère pour l'ensemble des textes */
*{
    font-family: $base-police;
}


/* style liens */
a{
    text-decoration: none;
    color: black;
}

