/*** mise en page titre de section ***/

@mixin section-title{
    margin-left: 1rem;
    font-size: 26px;
}



/*** etiquettes "nouveau" ***/

@mixin etiquette{
    background-color: $tertiary-color;
    color: $green-color;
    font-weight: bold;
    border-radius: 2px;
    padding: 6px;
}


/*** mise en forme "assiette" - menu restaurant ***/

@mixin assiette{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 15px;
        margin-bottom: 15px;
        background-color: $white-color;
        border-radius: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: padding-right 0.3s ease;
}