
@mixin section-title{
    margin-left: 1rem;
    font-size: 26px;
}

@mixin btn{
    font-size: 18px;
    border-radius: 30px;
    padding: 16px 22px;
    border: none;
    color: white;
    background: linear-gradient($secondary-color,$primary-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

    &:hover {
        filter: brightness(1.1);
      }
}

/*** etiquettes "nouveau" ***/

@mixin etiquette{
    background-color: $tertiary-color;
    color: $green-color;
    font-weight: bold;
    border-radius: 2px;
    padding: 6px;
}

