/*** mise en page titre de section ***/

@mixin section-title{
    margin-left: 1rem;
    font-size: 26px;
}



/*** etiquettes "nouveau" ***/

@mixin etiquette{
    background-color: $tertiary-color;
    color: $green-color;
    font-weight: bold;
    border-radius: 2px;
    padding: 6px;
}


