/**** couleurs ****/

$primary-color: #9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
$green-color:#008766;
$blue-color:#89C8FA;
$dark-blue-color:#003A68;
$background-grey:#F6F6F6;
$footer-background: #353535;
$white-color:white;
$iconeFont-color: grey;


/**** polices ****/

$logo-title:'Shrikhand';


/**** styles ****/

$box-shadow1: 0 4px 6px rgba(0, 0, 0, 0.3);
$box-shadow2: 0 4px 6px rgba(0, 0, 0, 0.1);





