/***** page restaurants *****/

.page-restaurant{
    @include flex-col-align-center;
    position: relative;
        .img-banniere{
            width: 100%;
            object-fit: cover;
            overflow: hidden;
            max-height: 380px;
        }
    .page-restaurant-menu{
        @include flex-column;
        margin-top: -45px;
        background-color: $background-grey;
        width: 100%;
        border-top-left-radius:40px ;
        border-top-right-radius:40px ;
        .restaurant-title{
            width: 100%;
            margin-top: 0.8rem;
            @include flex-center;
            .logo-title{
                font-family: $logo-title;
                font-size: 27px;
                margin-right: 2rem;
            }
            i{
                font-size: 2rem;
                }
            }
        }
        .menu-plats{
            margin-left: 10px;
            margin-right: 10px;
            .menu-plats-title{
                @include menu-plats-title;
            }
            .assiette{
                @include assiette;
            }
        }
        .btn-container{
            width: 100%;
            @include flex-justi-center;
            background-color: $background-grey;
            .btn-commander{
                @include btn;
                padding: 16px 50px;
                margin-top: 1rem;
                margin-bottom: 2rem;
            }
        }
    }


/******** Media queries ********/

/* Desktop version (over 1024px) */

@media (min-width:$breakpoint-desktop) {
        .img-banniere{
            width: 100%;
        }
    .page-restaurant-menu{
        @include flex-col-align-center;
        max-width: 75vw;
        .restaurant-title{
            margin-top: 2rem;
        }
        .menu-plats{
            width: 60vw;
            max-width: 700px;
        }
    }
    .btn-container{
        max-width: 75vw;
    }
}
    
