/**** section fonctionnement ****/

.fonctionnement{
    width: 100%;
    h3{
        @include section-title;
        margin-top: 3rem;
        margin-bottom: 0rem;
    }
    .fonctionnement-etapes{
        @include flex-col-justi-center;
        width: 100%;
        ul{
            margin-right: 16px;
            padding-left: 21px;
            li{
                @include flex-center;
                text-align: center;
                border-radius: 20px;
                background-color: $background-grey;
                box-shadow: $box-shadow1;
                width: 100%;
                height: 73px;
                margin-bottom: 2rem;
                position: relative;
                span{
                    border-radius: 50%;
                    font-size: 17px;
                    width: 22px;
                    height: 22px;
                    color:$white-color;
                    background-color:$primary-color ;
                    position: absolute; left: -11px;
                }
                i{
                    padding-right: 1.5rem;
                    padding-left: 0rem;
                }
                .fa-solid{
                    font-size:20px ;
                }
                .fa-mobile-screen-button, .fa-list-ul{
                    color: $iconeFont-color;
                }
                .fa-store{
                    color: $primary-color;
                }
            }
        }
    }
}

/******** Media queries ********/

/* Desktop version (over 1024px) */
@media (min-width:$breakpoint-desktop) {
        .fonctionnement{
            @include flex-col-justi-center;
            align-items: center;
            width: 100%;
            .fonctionnement-view{
                width: 100%;
                max-width: 1200px;
                padding-left: 6vw;
                padding-right: 6vw;
                h3{
                    align-self: flex-start;
                    margin-bottom: 1rem;
                }
                .fonctionnement-etapes{
                    @include flex-justi-center;
                }
                .fonctionnement-etapes ul{
                @include flex-between;
                margin: 0;
                    li{
                        margin-right: 1rem;
                        max-width: 320px;
                    }
                }
            }
            
        }
}
