
/**** section fonctionnement ****/

.fonctionnement{
    h3{
        @include section-title;
        margin-top: 3rem;
        margin-bottom: 0rem;
    }
    .fonctionnement-etapes{
        display: flex;
        flex-direction: column;
        li{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            background-color: $background-grey;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
            width: 330px;
            height: 73px;
            text-align: center;
            margin-bottom: 2rem;
            position: relative;
            span{
                border-radius: 50%;
                font-size: 17px;
                width: 22px;
                height: 22px;
                color:white ;
                background-color:$primary-color ;
                position: absolute; left: -11px;
            }
            i{
                padding-right: 1.5rem;
                padding-left: 0rem;
            }
            .fa-solid{
                font-size:20px ;
            }
            .fa-mobile-screen-button, .fa-list-ul{
                color: grey;
            }
            .fa-store{
                color: $primary-color;
            }
        }
    }
}

