/**** section explorer-reservez ****/

.explorer-reservez {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $background-grey;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 3.5rem;
      border: none;
      box-shadow: $box-shadow1;
      background-color: $background-grey;
      i{
        margin-right: 1rem;
      }
    }
    h2 {
      font-size: 27px;
      margin-top: 2rem;
      margin-left: 4rem;
      margin-right: 4rem;
    }
    p {
      font-size: 19px;
      margin-left: 2rem;
      margin-right: 2rem;
      margin-top: 0rem;
    }
    .btn-explorer {
      @include btn;
      margin-bottom: 3rem;
    }
}


