
/**** section explorer-reservez ****/

.explorer-reservez {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $background-grey;
  }
  
  .explorer-reservez input {
    width: 100%;
    height: 3rem;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    background-color: $background-grey;
  }
  
  ::-moz-placeholder {
    display: flex;
    text-align: center;
    color: black;
    font-weight: bold;
  }
  
  ::placeholder {
    display: flex;
    text-align: center;
    color: black;
    font-weight: bold;
  }
  
  .explorer-reservez h2 {
    font-size: 27px;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  
  .explorer-reservez p {
    font-size: 19px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0rem;
  }
  
  .btn-explorer {
    /*font-size: 18px;
    border-radius: 30px;
    border: none;
    padding: 16px 22px;
    color: white;
    background: linear-gradient($secondary-color, $primary-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);*/
    @include btn;
    margin-bottom: 3rem;
  }
  
  
